/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    text-align: left;
}

/* Banner styles */
.banner {
    background: url("Assets/Assets/Pictures/HeroSection-BackgroundPicture/truck.jpg") no-repeat center center/cover;
    color: white;
    position: relative;
    height: 350px;
}

.banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    height: 250px;
}

.cta-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Who we are section */
.who-we-are {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 50%;
}

.who-we-are img {
    max-width: 30%;
    height: auto;
    margin-right: 40px;
}

.content {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 50%;
}
.content p {
    text-align: justify;
}

/* Services section */
.services .services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 10px;
    padding: 20px 0;
    width: 50%;
    max-width: 1200px;
    justify-content: center; /* Center the cards */
}

.services .service-card {
    background-color: white;
    padding: 10px;
    margin: 5px;
    width: calc(50% - 20px); /* Adjust card width for mobile */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.393);
    text-align: center;
    box-sizing: border-box;
}

.services .service-card img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.service-cta {
    padding: 20px 0;
}

/* Client feedback section */
.client-feedback .feedback-cards {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    gap: 20px;
    padding: 20px 0;
    width: 100%; /* Full width */
    align-items: center; /* Center cards */
}

.client-feedback .feedback-card {
    background: transparent;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 100%; /* Full width */
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
}

.client-feedback .client-info {
    display: flex;
    flex-direction: column; /* Stack client info */
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.client-feedback .client-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.client-feedback .client-info p {
    margin: 0;
}

.client-feedback .client-info p:first-of-type {
    font-weight: bold;
    font-size: smaller;
}

.client-feedback .client-info p:last-of-type {
    font-size: smaller;
}

/* Company info section */
.company-info .expectations,
.company-info .partners,
.company-info .mission-vision,
.company-info .values {
    padding: 20px 0;
    width: 100%; /* Full width */
}

.values {
    width: 100%; /* Full width */
}

.company-info .expectations-list,
.company-info .partners-logos,
.company-info .values-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.company-info .expectation-item,
.company-info .value-item {
    text-align: center;
    width: 100%; /* Full width */
}

/* Footer section */
.footer {
    background: url("Assets/Assets/Pictures/HeroSection-BackgroundPicture/2.webp");
    color: black;
    background-size: 50%;
    background-repeat: repeat-x;
}

.footer .dimmed-background {
    background: transparent;
    padding: 20px;
}

.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .get-in-touch,
.footer .map,
.footer .contact-form,
.footer .social-media {
    flex-basis: 100%; /* Full width */
    margin: 20px 0;
}

.footer .get-in-touch {
    display: block; /* Stack elements */
}

.contact-form {
    font-size: 14px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus {
    outline: none;
    border-color: blue;
}

.footer .contact-form input[name="company"] {
    height: 60px;
}

.contact-form .mandatory {
    color: red;
    font-size: 12px;
}

.footer .social-media a {
    color: black;
    padding: 10px;
}

.social-media .social-icon {
    display: inline-block;
    margin-right: 2px;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.social-media .social-icon i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
