body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    text-align: left;
}

.banner {
    background: url("Assets/Assets/Pictures/HeroSection-BackgroundPicture/truck.jpg") no-repeat center center/cover;
    color: white;
    position: relative;
    height: 350px;
}

.banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    height: 250px;
}

.cta-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.who-we-are {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 50%;
}

.who-we-are img {
    max-width: 30%;
    height: auto;
    margin-right: 40px;
}

.content {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 50%;
}
.content p {
    text-align: justify;
}

.services .services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 10px;
    padding: 20px 0;
    width: 50%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.services .service-card {
    background-color: white;
    padding: 10px;
    margin: 5px;
    width: calc(33.333% - 20px);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.393);
    text-align: center;
    box-sizing: border-box;
}

.services .service-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.service-cta {
    padding: 20px 0;
}

.services .service-cta {
    padding: 20px 0;
    padding-bottom: 100px;
}

.client-feedback {
    position: relative;
    color: black;
}

.client-feedback .dimmed-background {
    background: transparent;
    padding: 50px;
}

.client-feedback .feedback-cards {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    width: 60%;
    margin: 0 auto;
}

.client-feedback .feedback-card {
    background: transparent;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.client-feedback .client-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: left;
}

.client-feedback .client-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.client-feedback .client-info p {
    margin: 0;
}

.client-feedback .client-info p:first-of-type {
    font-weight: bold;
    font-size: smaller;
}

.client-feedback .client-info p:last-of-type {
    font-size: very small;
}

.client-feedback .client-info p {
    margin: 0;
}

.expectations {
    text-align: center;
    padding: 50px 20px;
    width: 50%;
    margin: 0 auto;
}

.expectations h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.expectations .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.expectation-item {
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
    max-width: calc(33.33% - 40px);
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.expectation-item i {
    font-size: 25px;
    color: #2ecc71;
    margin-right: 5px;
}

.expectation-item p {
    font-size: 10px;
    font-weight: bold;
}

.expectation-text {
    flex: 1;
    text-align: justify;
}

.expectation-text p {
    font-size: 10px;
    margin: 0;
}

.company-info .expectations,
.company-info .partners,
.company-info .mission-vision,
.company-info .values {
    padding: 50px 0;
}

.values {
    width: 60%;
}

.company-info .expectations-list,
.company-info .partners-logos,
.company-info .values-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.value-item p {
    font-size: 14px;
}
.company-info .expectation-item,
.company-info .value-item {
    text-align: center;
    width: 30%;
}

.company-info .mission,
.company-info .vision {
    flex: 1 0 45%;
    margin: 20px;
}

.sponsor-carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: visible;
    padding-bottom: 50px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    display: flex;
    width: calc(100% * 7);
}

.carousel-slide img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    align-content: center;
}

.carousel-dots {
    text-align: center;
    position: absolute;
    width: 100%;

    bottom: 10px;
}

.carousel-dots .dot {
    height: 5px;
    width: 5px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.carousel-dots .dot.active {
    background-color: #717171;
}

.mission-vision {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px;
    gap: 20px;
    width: 50%;
}

.mission,
.vision {
    flex: 1 1 45%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.mission img,
.vision img {
    width: 200px;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.mission h2,
.vision h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.mission p,
.vision p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 50%;
}
.footer {
    background: url("Assets/Assets/Pictures/HeroSection-BackgroundPicture/2.webp");
    color: black;
    background-size: 50%;
    background-repeat: repeat-x;
}

.footer .dimmed-background {
    background: transparent;
    padding: 20px;
}

.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .get-in-touch,
.footer .map,
.footer .contact-form,
.footer .social-media {
    flex-basis: 50%;
    margin: 20px;
}
.footer .get-in-touch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.footer .get-in-touch p {
    margin: 0;
}

.contact-form {
    font-size: 14px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus {
    outline: none;
    border-color: blue;
}
.contact-form button {
    display: block;
    margin-left: 400px;
}

.footer .contact-form input[name="company"] {
    height: 60px;
}

.contact-form .mandatory {
    color: red;
    font-size: 12px;
}
.footer .left-column {
    width: 50%;
}
.footer .right-column {
    width: 50%;
}
.footer hr {
    width: 100%;
    height: 1px;
}
.footer .social-media a {
    color: black;
    padding: 10px;
}
.footer .social-media {
    text-align: right;
}
.footer .social-media h5 {
    padding-right: 35px;
}
.social-media .social-icon {
    display: inline-block;
    margin-right: 2px;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.social-media .social-icon i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.social-media .facebook {
    background-color: blue;
}

.social-media .youtube {
    background-color: red;
}

.social-media .instagram {
    background-color: black;
}
