body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    text-align: left;
}

.banner {
    height: 250px; 
}

.banner-content {
    height: 150px; 
}

.cta-button {
    padding: 10px 20px;
    border-radius: 20px;
}

.who-we-are,
.services .services-cards {
    width: 90%; 
}

.client-feedback .feedback-cards {
    width: 80%; 
}

.expectations,
.partners,
.mission-vision,
.values {
    width: 90%; 
}

.footer .get-in-touch {
    grid-template-columns: 1fr; 
}

.contact-form button {
    margin-left: auto; 
    margin-right: auto;
}

.footer .left-column,
.footer .right-column {
    width: 100%; 
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 250px; 
    }

    .banner-content {
        height: 150px; 
    }

    .cta-button {
        padding: 10px 20px;
        border-radius: 20px;
    }

    .who-we-are,
    .services .services-cards {
        width: 90%; 
    }

    .client-feedback .feedback-cards {
        width: 80%; 
    }

    .expectations,
    .partners,
    .mission-vision,
    .values {
        width: 90%; 
    }

    .footer .get-in-touch {
        grid-template-columns: 1fr; 
    }

    .contact-form button {
        margin-left: auto; 
        margin-right: auto;
    }

    .footer .left-column,
    .footer .right-column {
        width: 100%; 
    }
}