body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    text-align: left;
}

.banner {
    background: url("Assets/Assets/Pictures/HeroSection-BackgroundPicture/truck.jpg") no-repeat center center/cover;
    color: white;
    position: relative;
    height: 450px; 
}

.banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 80px; 
    height: 350px; 
}

.cta-button {
    background-color: black;
    color: white;
    padding: 12px 24px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.who-we-are {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px; 
    width: 70%; 
    margin: 0 auto; 
}

.who-we-are img {
    max-width: 40%;
    height: auto;
    margin-right: 60px; 
}

.content {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 50%;
}
.content p {
    text-align: justify;
}

.services .services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px; 
    padding: 40px 0; 
    width: 80%; 
    max-width: 1600px; 
    justify-content: center; 
}

.services .service-card {
    background-color: white;
    padding: 20px; 
    margin: 10px;
    width: calc(33.333% - 40px); 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

.services .service-card img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.service-cta {
    padding: 40px 0; 
}

.client-feedback .feedback-cards {
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    padding: 40px 0; 
    width: 80%; 
    align-items: center; 
    margin: 0 auto; 
}

.client-feedback .feedback-card {
    background: transparent;
    padding: 30px; 
    margin: 20px;
    border-radius: 20px; 
    width: 80%; 
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

.client-feedback .client-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 30px; 
    text-align: center;
}

.client-feedback .client-info img {
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    margin-bottom: 15px; 
}

.client-feedback .client-info p {
    margin: 0;
}

.client-feedback .client-info p:first-of-type {
    font-weight: bold;
    font-size: small; 
}

.client-feedback .client-info p:last-of-type {
    font-size: small; 
}

.company-info .expectations,
.company-info .partners,
.company-info .mission-vision,
.company-info .values {
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
}

.values {
    width: 80%;
}

.company-info .expectations-list,
.company-info .partners-logos,
.company-info .values-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.company-info .expectation-item,
.company-info .value-item {
    text-align: center;
    width: 30%;
}

.footer {
    background: url("Assets/Assets/Pictures/HeroSection-BackgroundPicture/2.webp");
    color: black;
    background-size: 50%;
    background-repeat: repeat-x;
}

.footer .dimmed-background {
    background: transparent;
    padding: 40px;
}

.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .get-in-touch,
.footer .map,
.footer .contact-form,
.footer .social-media {
    flex-basis: 30%;
    margin: 20px;
}

.footer .get-in-touch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.contact-form {
    font-size: 14px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus {
    outline: none;
    border-color: blue;
}